body {
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/bramkey/bradynkey/c165cfa3c50871083f5e5eb6d4190ff5cd03a217/AdobeStock_1023016129.jpeg');
}

h1 {
    font-family: "Kosugi Maru", sans-serif;
}

h3 {
    font-family: "Fredoka", sans-serif;
}

.basicblock {
    font-family: "Fredoka", sans-serif;
    border-radius: 10px;
    background-color: #AFC0BB;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    opacity: 0.96;
}

.basicheader {
    background-color: #414E49;
    border-bottom: 1px solid #5C6F68;
    padding: 6px 0 0 0;
    display: inline-block;
    width: -webkit-fill-available;
    vertical-align: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.basicheader-m {
    background-color: #6F857D;
    border-bottom: 1px solid #5C6F68;
    display: inline-block;
    padding: 5px;
    width: -webkit-fill-available;
    vertical-align: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-searchbar {
    background-color: #54645E;
    border-radius: 10px;
    padding: 2px;
    width: -webkit-fill-available;
    display: inline-block;
    text-align: center;
    color: #D2DAD7;
}

.basictab {
    background-color: #6F857D;
    vertical-align: bottom;
    display: inline-block;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    position: absolute;
    width: -webkit-fill-available;
    background: #AFC0BB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #5C6F68;
}

@media (max-width: 768px) {
    body {
        font-size: 20px;
    }
}