body {
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 100px;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }
}